[Desktop Entry]
Type=Application
Version=1.0
Name=CaseKey
Comment=Offline forensic password recovery
Exec=casekey
#Icon=casekey
Terminal=false
Categories=Utility;Security;
